/* Estilos para el body */
body {
    background-color: #dfe5ff;
}

/* Estilos para el contenedor prinicipal del formulario de login */
.form-container {
    width: 500px;
    padding: 20px 20px;

    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    background-color: white;
}

.form-container h2 {
    font-weight: 400;
    margin-bottom: 20px;
}

/* Estilos para el encabezado del formulario de login (logo y nombre de la app) */

#form-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#form-header img {
    width: 80px;
    height: auto;
}

#form-header h1 {
    margin-top: 15px;
}

/* Estios para elementos del formulrio de login*/

form #btnSend-From {
    background-color: #718AE9;
    color: white;
}

.form-check {
    margin-bottom: 15px;
}

.form-check-input {
    background-color: #7189e991;
}

.footer-login {
    position: absolute;
    bottom: 0;
    padding: 10px 10px;
    color: #718AE9;
    display: flex;
    flex-direction: row;
    font-size: 15px;
}

.footer-login a:link{
    color: #718AE9;
}

.footer-login a:visited{
    color: #3960ff;
}

.footer-login a:hover{
    color: #617ef3;
}

#link-1-terms {
    margin-right: 30px;
    margin-left: 30px;
}
